{% extends 'web/base.html' %}

{% load static %}

{% block contenido %}

<div>  
  <article id="info">
      <p>Nuestra galería de arte, llamada "Grupo Zero", fue fundada en 2017 por un grupo de artistas locales con el objetivo de promover y apoyar el arte contemporáneo en la región. Desde entonces, hemos exhibido obras de artistas emergentes y establecidos de todo el mundo, y hemos construido una reputación como una galería de arte de vanguardia y arriesgada que busca desafiar las convenciones y experimentar con nuevas formas de arte.</p>
      <p>"Grupo Zero" es una galería de arte comprometida con la promoción de artistas emergentes y establecidos, la diversidad cultural y la educación en arte. Buscamos brindar una plataforma para el diálogo y la reflexión crítica a través de nuestra programación de exposiciones y eventos educativos.</p>
      <p>Nuestra visión es convertirnos en una galería de arte líder y de referencia en la región, conocida por nuestra colección diversa y de alta calidad, nuestras exposiciones emocionantes y nuestra programación educativa innovadora. En los próximos años, nos esforzaremos por construir una colección de arte contemporáneo de alta calidad, incluyendo obras de artistas locales, nacionales e internacionales.</p>
      <p>Fomentaremos el desarrollo y la promoción de artistas emergentes, proporcionándoles un espacio para exhibir sus obras y promover su carrera. Al mismo tiempo, también buscaremos destacar la obra de artistas establecidos y establecer colaboraciones con otras galerías y museos de arte para fomentar la colaboración y el intercambio de ideas.</p>
      <p>Desarrollaremos un programa de exhibiciones emocionantes y relevantes que atraiga a un amplio público y fomente la apreciación del arte contemporáneo. También ofreceremos programas educativos innovadores que conecten al público con el arte y lo inspiren a profundizar su comprensión y apreciación del arte contemporáneo.</p>
      <p>En resumen, nuestra misión es fomentar el desarrollo de artistas emergentes y establecidos, promover la diversidad cultural en la escena del arte contemporáneo y brindar una plataforma para el diálogo y la reflexión crítica a través de nuestra programación de exposiciones y eventos educativos. Nuestra visión es convertirnos en una galería de arte líder y de referencia en la región, con una colección diversa y de alta calidad, exposiciones emocionantes y programación educativa innovadora. Estamos comprometidos con el fomento de una comunidad artística vibrante y diversa y con la promoción del arte como una herramienta para el cambio social y cultural.</p>
  </article>
</div>

{% endblock %}