{% extends 'web/base.html' %}

{% block contenido %}

{% load crispy_forms_tags %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<br>
<br>
<div class="row">
    <div class="col-12 col-md-6 offset-md-3">

        <div class="card">
            <div class="card-body">
                <h2 style="text-align: center;">Agregar nuevo Producto</h2>
                <hr>
                <form action="" method="post" enctype="multipart/form-data" id="formulario-guardar">

                    {% csrf_token %}

                    {{ form | crispy }}

                    <div class="d-flex justify-content-end">
                        <input type="reset" value="Cancelar" class="btn btn-secondary">
                        &nbsp;
                        <button type="button" class="btn btn-primary" onclick="mostrarMensajeSweetAlert()">Guardar</button>
                    </div>

                </form>
                {{mensaje}}
            </div>
        </div>

    </div>
</div>

<script>
    function mostrarMensajeSweetAlert() {
        Swal.fire({
            title: "Guardar",
            text: "¿Desea guardar el producto?",
            icon: "question",
            showCancelButton: true,
            confirmButtonText: "Aceptar",
            cancelButtonText: "Cancelar",
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById("formulario-guardar").submit(); // Enviar el formulario
            }
        });
    }
</script>

{% endblock %}
